<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strong Ties</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/budget.css">
    <link rel="stylesheet" href="assets/css/chat.css">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Unkempt:wght@700&display=swap" rel="stylesheet">

    </head>
    <body>
        <div id="main" >
            <nav class="navbar">
                <span class="navbar-toggle" id="js-navbar-toggle">
                    <i class="fas fa-bars"></i>
                </span>
                <a href="/gallery" class="logo"><img width="70px" height="70px" src="assets/img/family-love-logo-template_5586-71.jpg"
                        alt=""> Strong Ties</a>
                <ul class="main-nav" id="js-menu">
                    <li><a class="nav-links" href="gallery">Gallery&nbsp;<i class="far fa-images"></i></a></li>
                    <li><a class="nav-links" href="calendar">Calendar&nbsp;<i class="fa fa-calendar"></i></a></li>
                    <li><a class="nav-links" href="list">Lists&nbsp;<i class="fa fa-th-list"></i></a></li>
                    
                    <li><a class="nav-links" href="budget">Budget&nbsp;<i class="fas fa-money-bill-wave"></i></a></li>
                    <li><a class="nav-links" href="Funtime">Funtime&nbsp;<i class="fas fa-gamepad"></i></i></a></li>
                    <li><a class="nav-links" href="logout">LogOut&nbsp;<i class="fa fa-sign-out"></i></a></li>
                    <li>
                        <a class="nav-links profile" href="profile"><%= user.name %> <img src="<%= user.avatar %>"
                                style="border-radius: 50%; width: 15px; height: 15px; border: 2px solid #ee2b7a; " alt=""></a>
                    </li>
                </ul>
            </nav>
           
            <h1 id="contribut">Contributions</h1>
            <div class="container">
        
                <div class="con">
        
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Contribution</th>
                        </thead>
                        <% for( let i = 0; i < users.length; i++ ) { %>
                        <tr class="rocon">
                            <td><%= users[i].name %> </td>
                            <td class="contr">₹<%= users[i].contr %> </td>
                        </tr>
                        <% } %>
                    </table>
                    <canvas id="chart"></canvas>
        
                </div>
        
            </div>
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;" >
            <input type="button" onclick="nm(this)" value="Start Fresh">
            </div>
            <br>
            <div class="container">
                <div class="con">
                    <div class="row">
                        <div class='col'>
                            <h2>Income</h2>
                            <input type="text" placeholder="Name" id=incname>
                            <input type="text" id="incamount" placeholder="₹">
                            <input type="submit" value="🤑" onclick="Income();">
                        </div>
                        <br>
                        <div class=col>
                            <h2>Expenses</h2>
                            <input type="text" placeholder="Name" id=expname>
                            <input type="text" id="expamount" placeholder="₹">
                            <input type="submit" value="😭" onclick="Expense();">
                        </div>
        
                    </div>
        
        
        
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;" >
            <h1 id="result"></h1></div>
            <br>
            <div class="container">
                <div class="con">
                    
                        <div id="inc" class='col reg'>
                            <h2 style="padding-bottom: 20px; ">Income</h2>
                            <% for( let index = 0; index < family.income.length; index++ ) { %>
                                <div><h2 class="income"> <%= family.income[index].name %> - <%= family.income[index].value %></h2></div>
                            <% } %>
        
                        </div>
                        
                        <div style="width: 1vw;" ></div>
                        <div id="exp" class='col reg'>
                            <h2 style="padding-bottom: 20px;" >Expenses</h2>
                            <% for( let index = 0; index < family.expense.length; index++ ) { %>
                                <div><h2 class="expense"> <%= family.expense[index].name %> - <%= family.expense[index].value %></h2></div>
                            <% } %>
                        </div>
        
                   
        
        
                </div>
            </div>
        </div>
        <div id="mySidenav" class="sidenav">
                <div class="msgheader">
                    <div style="display: flex; flex-flow: row nowrap;" >
                  <h1 style="top: 0px; font-family: 'Pacifico', cursive;">Family</h1>
                  <% for( let i = 0; i < users.length; i++ ) { %>
                    <img class='avatar' src="<%= users[i].avatar %>">
                    
                  <% } %>
                </div>
         
                <p style="font-size: 60px; margin: 0;" >&times;</p>
                </div>
                  <div id="messages">
              
                  </div>
                  <div class="msgbar">
                    <input type="hidden" id="name" value="<%= user.avatar %> " >
                      <textarea id = "message" placeholder="Your Message Here"></textarea>
                      <button id="send"><i class="fas fa-paper-plane"></i></button>
                  </div>
              </div>
         
   
          <button id="fixed" style="width: 80px; height: 80px;" onclick="openNav(this)" ><i class="fas fa-comments"></i></button>


    <script src="assets/js/chart.js"></script>
    <script>
    let mainNav = document.getElementById("js-menu");
        let navBarToggle = document.getElementById("js-navbar-toggle");

        navBarToggle.addEventListener("click", function () {
            mainNav.classList.toggle("active");
        });
        

        </script>
        <script src="assets/js/chat.js"></script>
    <script src="https://kit.fontawesome.com/c5b9bcd338.js" crossorigin="anonymous"></script>
</body>
</html>